@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --item-btn-bg: #333;
  --item-btn-text: #f4f4f4;
  --item-detail-bg: #F2F0EC;
  --background-image: url("/light-bg.jpg");
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --item-btn-bg: #141414;
  --item-btn-text: #f4f4f4;
  --item-detail-bg: #141414;
  --background-image: url("/dark-bg.jpg");
}

html {
  @apply h-full;
  font-size: 17px;
}

body {
  @apply min-h-full;
}

body {
  font-family: var(--font-figtree);
  background: var(--background-image) repeat center center fixed;
}

p {
  @apply text-lg my-6;
}
